.nav-bar {
    position: relative;
    width: 100%;
    font-family:Verdana, Times, Tahoma, sans-serif;
    font-size: 12;
    font-weight: bold;

}
.questions {
    font-family:Verdana, Times, Tahoma, sans-serif;
    font-size: 12;
    align-items: center;
    justify-content: center;
    position: relative;
}
body {
    background-color:cornsilk;
}
#highscore {
    float: left;
}
#timer {
    float: right;
}

