body {
    background-color:cornsilk;
    font-size: 24;
}
.nav-bar {
    position: relative;
    width: 100%;
    font-family:Verdana, Times, Tahoma, sans-serif;
    font-size: 12;
    font-weight: bold;

}
.question {
    font-family:Verdana, Times, Tahoma, sans-serif;
    font-weight: 600;
   
}
.answers {
    display: inline-block;
}
.answers label{
    display: block;
    margin-bottom: 10px;
}

#highscore {
    float: left;
}
#count {
    float: right;
}


.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
.active-slide{
    opacity: 1;
    z-index: 2;
  }
.quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
    display: block;
    align-items: center;
    text-align: center;
  }